* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cream: hsl(30, 38%, 92%);
}

body {
    padding: 1rem;
    background-color: var(--cream);
}

.card {
    border-radius: 1rem;
}

.mobile-img {
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.desktop-img {
    display: none;
}

@media screen and (min-width: 1080px) {
    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: block;
    }
}